.sudoku__background {

}

.sudoku__cell {
    fill: #efefef;
}

.sudoku__cell--editable {
    fill: #ffffff;
    cursor: pointer;
}

.sudoku__cell-text {
    font: 28px Helvetica, Arial, Verdana, sans-serif;
}
